project_id = "hrudchzkmeqeejhzhgzh"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[functions.analyze-onboarding]
verify_jwt = true
